@model DogRescue.Models.AboutUsModel
@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title.</h2>
<!--pulled from the shelterpetproject.org
    Kelcee Chorba and Christine Jordan-->

<h1>Our Story.</h1>

<h2>Who we are</h2>


<h3>
    @Model.Message   
</h3>
